<div>
    <div v-for="property in propertyDetails">
        <property-detail ref="property.uniqueId"
                         :property-reference="property.propertyReference"
                         :amount="property.propertyPrice | currency" 
                         :deposit="property.deposit | currency"
                         :interest-rate="property.interestRate | currency"
                         :repayment-period="property.repaymentPeriod"
                         v-on:monthly-cost-updated="monthlyCostUpdated">
        </property-detail>
    </div>
    <p>* Total amount payable is only an estimate and excludes any additional arrangement fees and charges that may be contractually included in a typical mortgage</p>
</div>